02_AppCode/pkgs/Wadl/flwGetHistoryTable2_SMA_AT5.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://uk-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="flwGetHistoryTable2_SMA_AT5" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="flwGetHistoryTable2_SMA_AT5" />
  <grammars>
    <jsonTypes targetNamespace="https://uk-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_Initializevariable_Value_def" />
      <object name="ManualTriggerInput">
        <property name="Initializevariable_Value" type="string" />
      </object>
      <string name="ResponseActionOutput_items_def_Title_def" />
      <string name="ResponseActionOutput_items_def_HomeOrganisation_def" />
      <string name="ResponseActionOutput_items_def_Email_def" />
      <string name="ResponseActionOutput_items_def_PWLevel_def" />
      <string name="ResponseActionOutput_items_def_Project_def" />
      <string name="ResponseActionOutput_items_def_Discipline_def" />
      <string name="ResponseActionOutput_items_def_Selector_def" />
      <string name="ResponseActionOutput_items_def_PM_DIM_Approved_def" />
      <string name="ResponseActionOutput_items_def_ProjectRole_def" />
      <string name="ResponseActionOutput_items_def_LeadershipApproved_def" />
      <string name="ResponseActionOutput_items_def_Leadership_Comments_def" />
      <string name="ResponseActionOutput_items_def_FinalApproval_def" />
      <string name="ResponseActionOutput_items_def_Final_Comments_def" />
      <string name="ResponseActionOutput_items_def_AddedProj_def" />
      <string name="ResponseActionOutput_items_def_PWAdded_def" />
      <string name="ResponseActionOutput_items_def_ApplicationDateDate_def" />
      <string name="ResponseActionOutput_items_def_UKBased_def" />
      <string name="ResponseActionOutput_items_def_AgencyStaff_def" />
      <string name="ResponseActionOutput_items_def_ApplicationDate_def" />
      <string name="ResponseActionOutput_items_def_StartDate_def" />
      <string name="ResponseActionOutput_items_def_EndDate_def" />
      <string name="ResponseActionOutput_items_def_EndDateExtension_def" />
      <string name="ResponseActionOutput_items_def_Rejected_def" />
      <string name="ResponseActionOutput_items_def_EndDateApprover_def" />
      <string name="ResponseActionOutput_items_def_OfficeLocation_def" />
      <string name="ResponseActionOutput_items_def_AccessGroup_def" />
      <string name="ResponseActionOutput_items_def_PMDIM_Comments_def" />
      <string name="ResponseActionOutput_items_def_UPN_def" />
      <string name="ResponseActionOutput_items_def_Access_def" />
      <string name="ResponseActionOutput_items_def_JacobsUsername_def" />
      <string name="ResponseActionOutput_items_def_ProjectInduction_def" />
      <string name="ResponseActionOutput_items_def_JPEP_signoff_def" />
      <string name="ResponseActionOutput_items_def_PWInduction_def" />
      <string name="ResponseActionOutput_items_def_InductionGroup_def" />
      <string name="ResponseActionOutput_items_def_PMProjectGroup_def" />
      <string name="ResponseActionOutput_items_def_Completed_def" />
      <string name="ResponseActionOutput_items_def_StartDate_Num_def" />
      <string name="ResponseActionOutput_items_def_Offboarded_def" />
      <string name="ResponseActionOutput_items_def_OffboardApprover_def" />
      <boolean name="ResponseActionOutput_items_def_Rej_calc_def" />
      <integer name="ResponseActionOutput_items_def_Level_Calc_def" />
      <string name="ResponseActionOutput_items_def_LeaderEmail_def" />
      <string name="ResponseActionOutput_items_def_DirectorEmail_def" />
      <string name="ResponseActionOutput_items_def_PW_Email_def" />
      <string name="ResponseActionOutput_items_def_ID_def" />
      <integer name="ResponseActionOutput_items_def_ID2_def" />
      <string name="ResponseActionOutput_items_def_ListedFirstName_def" />
      <string name="ResponseActionOutput_items_def_ListedName_def" />
      <string name="ResponseActionOutput_items_def_ListedSurname_def" />
      <string name="ResponseActionOutput_items_def_StaffID_def" />
      <string name="ResponseActionOutput_items_def_ApprovalTime_def" />
      <string name="ResponseActionOutput_items_def_CommercialComments_def" />
      <string name="ResponseActionOutput_items_def_HSQualification_def" />
      <string name="ResponseActionOutput_items_def_Qualification_def" />
      <string name="ResponseActionOutput_items_def_QualYear_def" />
      <string name="ResponseActionOutput_items_def_OtherQualification_def" />
      <string name="ResponseActionOutput_items_def_ReleventSchemes_def" />
      <string name="ResponseActionOutput_items_def_CVLink_def" />
      <string name="ResponseActionOutput_items_def_ExcessHours_def" />
      <string name="ResponseActionOutput_items_def_Expenses_def" />
      <string name="ResponseActionOutput_items_def_PAFNumber_def" />
      <string name="ResponseActionOutput_items_def_DemobilisationDate_def" />
      <string name="ResponseActionOutput_items_def_AllianceManagerApproval_def" />
      <string name="ResponseActionOutput_items_def_RetrospectiveDate_def" />
      <string name="ResponseActionOutput_items_def_CommercialSignoff_def" />
      <string name="ResponseActionOutput_items_def_ControlSignoff_def" />
      <string name="ResponseActionOutput_items_def_ControlEmail_def" />
      <string name="ResponseActionOutput_items_def_SalaryBand_def" />
      <string name="ResponseActionOutput_items_def_SMPAEmail_def" />
      <string name="ResponseActionOutput_items_def_SCCHeader_def" />
      <string name="ResponseActionOutput_items_def_BPSS_def" />
      <string name="ResponseActionOutput_items_def_PhoneNumber_def" />
      <string name="ResponseActionOutput_items_def_PhotoLink_def" />
      <string name="ResponseActionOutput_items_def_Rate_def" />
      <string name="ResponseActionOutput_items_def_ComputerID_def" />
      <string name="ResponseActionOutput_items_def_ConsolidatedDiscipline_def" />
      <string name="ResponseActionOutput_items_def_LastModifier_def" />
      <string name="ResponseActionOutput_items_def_BIF_def" />
      <string name="ResponseActionOutput_items_def_REM_def" />
      <string name="ResponseActionOutput_items_def_Resilience_def" />
      <string name="ResponseActionOutput_items_def_Requester_def" />
      <string name="ResponseActionOutput_items_def_IPM_Approved_def" />
      <string name="ResponseActionOutput_items_def_IPM_Comments_def" />
      <string name="ResponseActionOutput_items_def_IPM_Sent_def" />
      <string name="ResponseActionOutput_items_def_SysStartTime_def" />
      <string name="ResponseActionOutput_items_def_SysEndTime_def" />
      <string name="ResponseActionOutput_items_def_Category_def" />
      <string name="ResponseActionOutput_items_def_Diversity_Gender_def" />
      <string name="ResponseActionOutput_items_def_Diversity_Disabaility_def" />
      <string name="ResponseActionOutput_items_def_Diversity_Adjustments_def" />
      <string name="ResponseActionOutput_items_def_Diversity_EthnicGroup_def" />
      <string name="ResponseActionOutput_items_def_Diversity_Age_def" />
      <string name="ResponseActionOutput_items_def_Prod_Category_def" />
      <string name="ResponseActionOutput_items_def_Prod_Area_def" />
      <string name="ResponseActionOutput_items_def_Prod_BRP_def" />
      <string name="ResponseActionOutput_items_def_Prod_FullPartTime_def" />
      <string name="ResponseActionOutput_items_def_Preferred_Name_def" />
      <string name="ResponseActionOutput_items_def_HEIPM_Approval_def" />
      <string name="ResponseActionOutput_items_def_ControlComments_def" />
      <string name="ResponseActionOutput_items_def_AccountantSignoff_def" />
      <string name="ResponseActionOutput_items_def_LastEditor_def" />
      <string name="ResponseActionOutput_items_def_EditComment_def" />
      <object name="ResponseActionOutput_items_def">
        <property name="Title" type="string" />
        <property name="HomeOrganisation" type="string" />
        <property name="Email" type="string" />
        <property name="PWLevel" type="string" />
        <property name="Project" type="string" />
        <property name="Discipline" type="string" />
        <property name="Selector" type="string" />
        <property name="PM_DIM_Approved" type="string" />
        <property name="ProjectRole" type="string" />
        <property name="LeadershipApproved" type="string" />
        <property name="Leadership_Comments" type="string" />
        <property name="FinalApproval" type="string" />
        <property name="Final_Comments" type="string" />
        <property name="AddedProj" type="string" />
        <property name="PWAdded" type="string" />
        <property name="ApplicationDateDate" type="string" />
        <property name="UKBased" type="string" />
        <property name="AgencyStaff" type="string" />
        <property name="ApplicationDate" type="string" />
        <property name="StartDate" type="string" />
        <property name="EndDate" type="string" />
        <property name="EndDateExtension" type="string" />
        <property name="Rejected" type="string" />
        <property name="EndDateApprover" type="string" />
        <property name="OfficeLocation" type="string" />
        <property name="AccessGroup" type="string" />
        <property name="PMDIM_Comments" type="string" />
        <property name="UPN" type="string" />
        <property name="Access" type="string" />
        <property name="JacobsUsername" type="string" />
        <property name="ProjectInduction" type="string" />
        <property name="JPEP_signoff" type="string" />
        <property name="PWInduction" type="string" />
        <property name="InductionGroup" type="string" />
        <property name="PMProjectGroup" type="string" />
        <property name="Completed" type="string" />
        <property name="StartDate_Num" type="string" />
        <property name="Offboarded" type="string" />
        <property name="OffboardApprover" type="string" />
        <property name="Rej_calc" type="boolean" />
        <property name="Level_Calc" type="integer" />
        <property name="LeaderEmail" type="string" />
        <property name="DirectorEmail" type="string" />
        <property name="PW_Email" type="string" />
        <property name="ID" type="string" />
        <property name="ID2" type="integer" />
        <property name="ListedFirstName" type="string" />
        <property name="ListedName" type="string" />
        <property name="ListedSurname" type="string" />
        <property name="StaffID" type="string" />
        <property name="ApprovalTime" type="string" />
        <property name="CommercialComments" type="string" />
        <property name="HSQualification" type="string" />
        <property name="Qualification" type="string" />
        <property name="QualYear" type="string" />
        <property name="OtherQualification" type="string" />
        <property name="ReleventSchemes" type="string" />
        <property name="CVLink" type="string" />
        <property name="ExcessHours" type="string" />
        <property name="Expenses" type="string" />
        <property name="PAFNumber" type="string" />
        <property name="DemobilisationDate" type="string" />
        <property name="AllianceManagerApproval" type="string" />
        <property name="RetrospectiveDate" type="string" />
        <property name="CommercialSignoff" type="string" />
        <property name="ControlSignoff" type="string" />
        <property name="ControlEmail" type="string" />
        <property name="SalaryBand" type="string" />
        <property name="SMPAEmail" type="string" />
        <property name="SCCHeader" type="string" />
        <property name="BPSS" type="string" />
        <property name="PhoneNumber" type="string" />
        <property name="PhotoLink" type="string" />
        <property name="Rate" type="string" />
        <property name="ComputerID" type="string" />
        <property name="ConsolidatedDiscipline" type="string" />
        <property name="LastModifier" type="string" />
        <property name="BIF" type="string" />
        <property name="REM" type="string" />
        <property name="Resilience" type="string" />
        <property name="Requester" type="string" />
        <property name="IPM_Approved" type="string" />
        <property name="IPM_Comments" type="string" />
        <property name="IPM_Sent" type="string" />
        <property name="SysStartTime" type="string" />
        <property name="SysEndTime" type="string" />
        <property name="Category" type="string" />
        <property name="Diversity_Gender" type="string" />
        <property name="Diversity_Disabaility" type="string" />
        <property name="Diversity_Adjustments" type="string" />
        <property name="Diversity_EthnicGroup" type="string" />
        <property name="Diversity_Age" type="string" />
        <property name="Prod_Category" type="string" />
        <property name="Prod_Area" type="string" />
        <property name="Prod_BRP" type="string" />
        <property name="Prod_FullPartTime" type="string" />
        <property name="Preferred_Name" type="string" />
        <property name="HEIPM_Approval" type="string" />
        <property name="ControlComments" type="string" />
        <property name="AccountantSignoff" type="string" />
        <property name="LastEditor" type="string" />
        <property name="EditComment" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_items_def" name="ResponseActionOutput" />
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://uk-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="Initializevariable_Value" path="/Initializevariable_Value" type="xs:string" required="true" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>